@font-face {
    font-family: 'LeferiBase';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'LeferiBase';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/leferi/LeferiBaseBold.ttf') format("truetype");
    font-display: swap;
}